body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main {
    width: 600px;
    background-color: #eee;
    padding: 4px;
}

#login, #logout {
    float: right;
}

#expansion {
    background-color: lightgray;
    min-height: 1em;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

#tweet {
    float: right;
    text-align: right;
}

#eval {
    min-height: 10em;
    resize: vertical;
    background: white;
    border-width: 1px;
    border-style: solid;
    white-space: pre-wrap;
    word-break: break-all;
}

#error {
    color: red;
}

#recent {
    font-size: small;
}
