body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    font-family: sans-serif;
}

.main {
    background-color: #fcfcfd;
    width: 100%;
    padding: 4px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
}

#login, #logout {
    float: right;
}

#expansion {
    background-color: white;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;

    font-size: x-large;
    
    min-height: 1em;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

#tweet {
    float: right;
    text-align: right;
}

#eval {
    min-height: 10em;
    resize: vertical;
    background: white;
    border-width: 1px;
    border-style: solid;
    white-space: pre-wrap;
    word-break: break-all;
}

#eval pre {
    white-space: pre-wrap;
}

#refs {
    font-size: small;
    font-style: italic;
}

#error {
    color: red;
}

#recent {
    font-size: small;
}
