.start-node, .defined-node, .implicit-node, .external-node {
    stroke-width: 0.3;
}

.start-node, .external-node, .implicit-node {
    rx: 12;
    ry: 12;
}

.placeholder-node {
    stroke-width: 0.1;
    stroke-dasharray: 3 1;    
}

.external-node {
    stroke-dasharray: 10 1;
}

.selected-edge-source-node {
    fill: #efe;
}

.selected-edge-target-node {
    fill: #dfd;
}

.selected-node {
    stroke: #00f;
}

.selected-node.start-node,
.selected-node.defined-node,
.selected-node.implicit-node,
.selected-node.placeholder-node {
    fill: #ccf;
}

.selected-node.external-node {
    fill: #eaa;
}

.linkEdgeHandle,
.includeEdgeHandle {
    fill: white;
}

.includeEdgeHandle {
    stroke: #88f;
}

.linkEdgeHandle {
    stroke: #00f;
}

.includeEdgeHandle,
.includeEdgeHandleSelected {
    marker-end: none;
}

.linkEdgeHandleSelected,
.includeEdgeHandleSelected {
    stroke-width: 1;
    stroke: #00f;
    fill: #ccf;
}

.editor-enabled {
    background: #eef;
}

.editor-disabled {
    background: white;
}

.editorcontainer {
    display: flex;
    flex-direction: row;
}

.editor {
    flex-grow: 1;
    min-height: 10em;
    resize: vertical;
    border-width: 1px;
    border-style: solid;
    white-space: pre-wrap;
    word-break: break-all;
}
