.start-node, .defined-node {
    stroke-width: 0.3;
}

.start-node, .external-node {
    rx: 2;
    ry: 2;
}

.placeholder-node {
    stroke-width: 0.1;
    stroke-dasharray: 2 1;    
}

.external-node {
    stroke-width: 0.1;
    stroke-dasharray: .1 .5;
}

.includeEdge {
    fill: lightgreen;
}

.linkEdge {
    fill: white;
}
.selected-edge-source-node {
    stroke: #00e;
    fill: #eef;
}

.selected-edge-target-node {
    stroke: #040;
    fill: #efe;
}

.selected-node {
    stroke: #00f;
}

.selected-node.start-node,
.selected-node.defined-node,
.selected-node.placeholder-node {
    fill: #ccf;
}

.selected-node.external-node {
    fill: #ecf;
}

.includeEdgeSelected {
    fill: green;
}

.linkEdgeSelected {
    fill: #ccf;
}

.editor-enabled {
    background: #eef;
}

.editor-disabled {
    background: white;
}

.editorcontainer {
    display: flex;
    flex-direction: row;
}

.editor {
    flex-grow: 1;
    min-height: 10em;
    resize: vertical;
    border-width: 1px;
    border-style: solid;
    white-space: pre-wrap;
    word-break: break-all;
}
