.start-node, .defined-node, .implicit-node {
    stroke-width: 0.3;
}

.start-node, .external-node {
    rx: 2;
    ry: 2;
}

.placeholder-node {
    stroke-width: 0.1;
    stroke-dasharray: 2 1;    
}

.external-node {
    stroke-width: 0.1;
    stroke-dasharray: .1 .5;
}

.selected-edge-source-node {
    fill: #efe;
}

.selected-edge-target-node {
    fill: #dfd;
}

.selected-node {
    stroke: #00f;
}

.selected-node.start-node,
.selected-node.defined-node,
.selected-node.implicit-node,
.selected-node.placeholder-node {
    fill: #ccf;
}

.selected-node.external-node {
    fill: #eaa;
}

.linkEdgeLabel,
.includeEdgeLabel {
    fill: white;
}

.includeEdgeLabel {
    stroke: #88f;
}

.linkEdgeLabel {
    stroke: #00f;
}

.includeEdgeLabel,
.includeEdgeLabelSelected {
    marker-end: none;
}

.linkEdgeLabelSelected,
.includeEdgeLabelSelected {
    stroke: black;
    fill: #ccf;
}

.editor-enabled {
    background: #eef;
}

.editor-disabled {
    background: white;
}

.editorcontainer {
    display: flex;
    flex-direction: row;
}

.editor {
    flex-grow: 1;
    min-height: 10em;
    resize: vertical;
    border-width: 1px;
    border-style: solid;
    white-space: pre-wrap;
    word-break: break-all;
}
